{% extends "base.html" %}
{% block content %}
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="card-title">Worker Area</h2>
      <p class="card-text">This page is for workers to check assigned inventory and aisle locations.</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">See stock update tasks</li>
        <li class="list-group-item">Review product aisle assignments</li>
        <li class="list-group-item">Simple Flask-based page views</li>
      </ul>
    </div>
  </div>
{% endblock %}
